@import "../colors";

.code-block-tabs{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    color: $black-1;
    border-bottom: 2px solid transparent;

    &.current-tab{
      color: $black-0;
      border-bottom-color: $blue-1;
    }
  }
}
