@import "../colors";

pre[class*="language-"] {
  background: $white-0 !important;
  border-left: 10px solid $blue-1;
  padding: 20px 10px 10px 20px !important;

  & > code{
    padding: 0;
    background: transparent;
    border: 0;
  }
}
