@import "../colors";

$image-size: 20px;

.auto-complete {
  position: relative;
}

.complete-tooltip {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid $white-3;
  background: $white-0;
}

.complete-tooltip-header {
  padding: 5px 10px;
  font-size: 13px;
  background: $white-1;
  border-bottom: 1px solid $white-3;
}

.complete-tooltip-body {
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.complete-item {
  padding: 5px 10px 5px 5px;
  color: $blue-1;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0;
}

.complete-item img {
  vertical-align: middle;
  display: inline-block;
  width: $image-size;
  height: $image-size;
}

.complete-item-active {
  background: $blue-1;
  color: $white-0;
}

.complete-command-item{
  display: block;
  vertical-align: top;
  font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;

  font-size: 14px;
  background-color: #000084;
  color: #BBB;

  & > div{
    padding: 5px;
    margin: 5px;
    border: 2px solid transparent;
  }

  &.complete-item-active{
    color: #fff;
    & > div{
      border-color: #BBB;
      box-shadow: 3px 3px 0 4px #000;
    }
  }

  &:hover{
    color: #BBB;
    & > div{
      background-color: #000;
    }
  }

  .command-name{
    font-weight: bold;
    text-transform: uppercase;
  }
  .command-syntax{
    color: #fefe54;
  }
  .command-description{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
