.keywords{
  list-style: none;
  margin: 0;
  padding: 0;
}
.keywords-item{
  display: inline-block;
  vertical-align: middle;

  code {
    background-color: #f8fafc;
    border: 1px solid #dae1e7;
    border-radius: 2px;
    font-size: 14px;
    padding: 2px 5px;
    display: inline-block;
    margin-bottom: 3px;
  }
}
