
html{
  height: 100%;
}
body {
  margin: 10px;
}

body,
pre,
textarea,
input {
  font-family: sans-serif;
}

.relative{
  position: relative;
}

* {
  box-sizing: border-box;
}

textarea{
  width: 100%;
}

small{
  font-size: 12px;
}

ul{
  margin: 0;
  padding: 0;
}

.auto-complete{
  position: relative;
}

.complete-tooltip{
  padding: 10px;
  border: 1px solid #eee;
  background: #fff;
}
.complete-tooltip-body{
  padding: 5px;
}
.complete-item{
  padding: 5px;
  color: #6587D6;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  border-radius: 50px;
}
.complete-item img {
  vertical-align: middle;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.complete-item-active{
  background: #6587D6;
  color: #fff;
}
