<div class="container">
    <div class="row">
        <div class="columns">
            <div class="header">
                <h1 class="header-title">ember-keyword-complete <small>{{version}}</small></h1>
              <p>MIT licensed, view source <a href="https://github.com/makepanic/ember-keyword-complete" class="header-link">on github</a></p>
            </div>
        </div>
    </div>

    <ul class="nav">
        <li class="nav-item">
          {{#link-to 'docs-home' class='nav-link' id='link-home'}}home{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'demos' class='nav-link' id='link-demos'}}demos{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'api' class='nav-link' id='link-api'}}api{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'docs-extend' class='nav-link' id='link-extend'}}extending{{/link-to}}
        </li>
    </ul>

  {{outlet}}

</div>
