<h2>datasources</h2>
<ul>
    <li>
      {{#link-to 'emoji' id='link-emoji'}}single <small>(emoji)</small>{{/link-to}}
    </li>
    <li>
      {{#link-to 'emoji-and-users' id='link-emoji-and-users'}}multiple <small>(emoji and users)</small>{{/link-to}}
    </li>
</ul>

{{outlet}}
