<h2 class="docs-title" id="docs-demos">Demos</h2>

<ul class="nav">
    <li class="nav-item">
      {{#link-to 'demos.emoji' class='nav-link' id='link-emoji'}}single <small>(emoji)</small>{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'demos.emoji-and-users' class='nav-link' id='link-emoji-and-users'}}multiple <small>(emoji, users, commands)</small>{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'demos.actions' class='nav-link' id='link-actions'}}actions{{/link-to}}
    </li>
</ul>

{{outlet}}
