<h2 class="docs-title">Ember-keyword-complete</h2>

<p><strong>Note:</strong> Demo emoji icons are provided by <a href="http://emojione.com/">emojione</a>. No styles are included in the addon.</p>

<h5>Usage</h5>

<p>Installing this addon is as easy as:</p>

{{#code-block language='bash'}}> ember install ember-keyword-complete{{/code-block}}

{{outlet}}
