
<h4 class="docs-title">Extending</h4>

<h5>moving the complete window to the cursor position</h5>
<p>
    To move the completion window add an observer that observes the <code>caretPosition</code> variable.
    Inside the caret position set the <code>.complete-tooltip</code> position by calculating the textarea/input offset (using for example <a
        href="https://github.com/component/textarea-caret-position">textarea-caret-position</a>).
</p>
<p>Example implementation:</p>

{{#code-block language='javascript'}}
realignTooltip: observer('caretPosition', function () {
  let input = this.get('input'),
    coords = getCaretCoordinates(input, input.selectionEnd);

  run.scheduleOnce('afterRender', this, () => {
    this.$('.complete-tooltip').css({
      left: `${coords.left}px`,
      top: `${coords.top}px`
    });
  });
})
{{/code-block}}